
.cont-contactInfo {
  float: left;
  padding-right: 5%;
  width: 45%;
}
.cont-contactInfo h3 {
  font-size: 28px;
}
.cont-contactInfo h4 {
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
}
.cont-contactInfo h4.section {
  margin: 30px 0 0;
}
.cont-contactInfo p {
  margin: 0;
}
.cont-contactInfo p > a {
  text-transform: uppercase;
  font-weight: bold;
}
.cont-contactInfo .social-icons {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
}
.cont-contactInfo .social-icons li {
  float: left;
  margin-right: 3px;
}
.cont-contactInfo .social-icons li a {
  background-image: url("../images/sprite_social_icons.png");
  background-repeat: no-repeat;
  display: block;
  height: 28px;
  width: 29px;
}
.cont-contactInfo .social-icons li a:hover {
  opacity: .8;
}
.cont-contactInfo .social-icons li a.icon_twitter {
  background-position: -33px 0;
}
.cont-contactInfo .social-icons li a.icon_linkedin {
  background-position: -68px 0;
}
.cont-contactInfo .social-icons li a.icon_youtube {
  background-position: -102px 0;
}
.cont-contactInfo .social-icons li a.icon_pinterest {
  background-position: -135px 0;
}
.cont-contactInfo .social-icons li a.icon_vimeo {
  background-position: -169px 0;
}
.cont-contactInfo .social-icons li a.icon_instagram {
  background-position: -204px 0;
}

.cont-contactBtn {
  height: 400px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
.cont-contactBtn .cont-flip {
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
}
.cont-contactBtn .cont-flip .front, .cont-contactBtn .cont-flip .back {
  display: block;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cont-contactBtn .cont-flip .front {
  background-color: #fff;
    border-style: solid;
    border-color: #010100;
    border-width: 6px;
}
.cont-contactBtn .cont-flip .back {
  background-color: #000;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  border-style: solid;
  border-color: #fff;
  border-width: 6px;
}
.cont-contactBtn .btn2 {
  margin-top: 155px;
}
.cont-contactBtn .cont-flip.flipped {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cont-contactBtn .contact-form {
  padding: 0 10%;
  margin-top: 50px;
  width: 80%;
}
.cont-contactBtn .contact-form input, .cont-contactBtn .contact-form textarea {
  border: 1px solid #1d1d1d;
  font-size: 12px;
  padding: 10px 0;
  text-transform: none;
}
.cont-contactBtn .contact-form input[type="text"] {
  float: left;
  margin-bottom: 8px;
  padding-left: 3%;
  width: 100%;
}
.cont-contactBtn .contact-form .gutter {
  margin-right: 2.8%;
}
.cont-contactBtn .contact-form textarea {
  height: 106px;
  padding-left: 3%;
  margin-bottom: 22px;
  width: 103%;
  resize: none;
}
.cont-contactBtn .contact-form input[type="submit"] {
  background-color: #EF5350 ;
  border: none;
  color: #fff;
  height: 45px;
  width: 100%;
  max-width: 93px;
  text-align: center;
}
.cont-contactBtn .close {
  display: block;
  height: 19px;
  width: 19px;
  background-image: url("../media/img/close.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15px;
  right: 3%;
}

.btn2 {
    border: 3px #000 solid;
    display: block;
    margin: 0 auto;
    max-width: 280px;
    text-align: center;
    padding: 10px;
}

.btn{
  width: 103%;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}

textarea:focus:not([readonly]) {
    border: 2px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}
