.grid__item {
	height: calc(65vh - 40px);
	min-height: 460px;
	max-width: calc(100vw - 40px);
	background: #DDD;
	margin: 20px;
  margin-top: 80px;
	padding: 100px 0;
	z-index: 1;
	position: relative;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-transform: translate3d(0,0,0); /* Solves Safari bug because of SVG clipping mask */
}

.grid__item p {
	font-size: 1.5em;
	font-weight: bold;
	color: #777;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 3em 10% 4em;
	}
	.grid__item {
		width: 100%;
	}
}

.color-1 { background: #E8E0DA; }
.color-2 { background: #576b67; }
.color-3 { background: #383A35; }
.color-4 {
  	background: #0b0c0e;
    background-image: url(../media/img/muestra.jpg);
    background-position: center center;
    background-repeat: no-repeat;
   }
.color-5 { background: #fda9a9; }
.color-7 { background: #cde7d3; }
.color-8 { background: #DCECDD; }
.color-9 { background: #dedbba; }
.color-10 { background: #222; }
.color-11 { background: #515151; }


.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 8em;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}


/* Kumya */
.link--kumya {
	font-family: 'Syncopate', sans-serif;
	font-size: 6.5em;
	overflow: hidden;
	padding: 10px 10px 0;
	line-height: 1;
	color: #242424;
}

.link--kumya:hover {
	color: #242424;
}

.link--kumya::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	background: #242424;
	-webkit-transform: translate3d(101%,0,0);
	transform: translate3d(101%,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kumya:hover::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.link--kumya span {
	display: block;
	position: relative;
}

.link--kumya span::before {
	content: attr(data-letters);
	position: absolute;
	color: #fff;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kumya:hover span::before {
	width: 100%;
}

@media screen and (max-width: 42em) {
	.link--kumya { font-size: 1.8em; }
}
